Springer/ManagerSystem.MVC/Service References/SpringerServiceReference/SpringerRemoteSystemService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Springer.EntityModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Springer.EntityModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_SYS_DICTModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_SYS_DICTModel" nillable="true" type="tns:T_SYS_DICTModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_SYS_DICTModel" nillable="true" type="tns:ArrayOfT_SYS_DICTModel" />
  <xs:complexType name="T_SYS_DICTModel">
    <xs:sequence>
      <xs:element name="_dictid" type="xs:int" />
      <xs:element name="_dictname" nillable="true" type="xs:string" />
      <xs:element name="_dictvalue" nillable="true" type="xs:string" />
      <xs:element name="_dictypeid" nillable="true" type="xs:string" />
      <xs:element name="_standby1" nillable="true" type="xs:string" />
      <xs:element name="_sysflag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_SYS_DICTModel" nillable="true" type="tns:T_SYS_DICTModel" />
</xs:schema>