Springer/ManagerSystem.MVC/Service References/SMSServiceReference/SMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3140/SMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3140/SMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISMService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISMService_OpenPort_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenPort" />
  </wsdl:message>
  <wsdl:message name="ISMService_OpenPort_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenPortResponse" />
  </wsdl:message>
  <wsdl:message name="ISMService_ClosePort_InputMessage">
    <wsdl:part name="parameters" element="tns:ClosePort" />
  </wsdl:message>
  <wsdl:message name="ISMService_ClosePort_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClosePortResponse" />
  </wsdl:message>
  <wsdl:message name="ISMService_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="ISMService_SendMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMsgResponse" />
  </wsdl:message>
  <wsdl:portType name="ISMService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMService/DoWork" message="tns:ISMService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMService/DoWorkResponse" message="tns:ISMService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenPort">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMService/OpenPort" message="tns:ISMService_OpenPort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMService/OpenPortResponse" message="tns:ISMService_OpenPort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClosePort">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMService/ClosePort" message="tns:ISMService_ClosePort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMService/ClosePortResponse" message="tns:ISMService_ClosePort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMService/SendMsg" message="tns:ISMService_SendMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMService/SendMsgResponse" message="tns:ISMService_SendMsg_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISMService" type="tns:ISMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISMService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenPort">
      <soap:operation soapAction="http://tempuri.org/ISMService/OpenPort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosePort">
      <soap:operation soapAction="http://tempuri.org/ISMService/ClosePort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap:operation soapAction="http://tempuri.org/ISMService/SendMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMService">
    <wsdl:port name="BasicHttpBinding_ISMService" binding="tns:BasicHttpBinding_ISMService">
      <soap:address location="http://localhost:3140/SMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>